<!-- Version de template 2 utilizando formilarios manuales - NO LO DE DJANGO POR DEFECTO-->
{% extends 'base.html' %}

{% block title_head%}
<title>Crear Animal</title>
{% endblock title_head%}

{% block h1_header%}
<h1>Crear Animal</h1>
{% endblock h1_header%}


{% block contenido%}
<form action={% url 'crear_animal' %} method="POST">
    {% csrf_token %}
    <!--El table es para que al momento de mostrarlo en la pagina lo haga como una tabla (uno abajo del otro)-->
    <table>
        <!--en lugar de {{formulario}} ahora le voy a pasar: form - asi lo mando automatico django -->
        {{form}}
    </table>
    <button>Crear</button>
</form>
{% endblock contenido%}