{% extends 'base.html' %}

{% block title_head%}
<title>Modificar Animal</title>
{% endblock title_head%}

{% block h1_header%}
<h1>Modificar Animal</h1>
{% endblock h1_header%}


{% block contenido%}
<!-- A diferencia del anterior ahora poniendo solo animal.id ya sabe el animal porque la CBV de por sí ay tiene el 
objeto completo(animal en este caso)-->
<form action={% url 'modificar_animal' animal.id %} method="POST">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <button>Modificar</button>
</form>
{% endblock contenido%}