<!-- Version de template 2 utilizando formilarios manuales - NO LO DE DJANGO POR DEFECTO-->
{% extends 'base.html' %}

{% block title_head%}
<title>Crear Animal</title>
{% endblock title_head%}

{% block h1_header%}
<h1>Crear Animal</h1>
{% endblock h1_header%}


{% block contenido%}
<form action={% url 'crear_animal' %} method="POST">
    {% csrf_token %}
    <p>
        Ingrese noombre:
        <input type="text" name="nombre" placeholder="Nombre">
    </p>
    <p>
        Ingrese Edad:
        <input type="number" name="edad" placeholder="15">
    </p>
    <button>Crear</button>
</form>
{% endblock contenido%}