{% extends 'base.html' %}

{% block title_head %}
<title>Inicio de sesion</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Inicio de sesion</h1>
{% endblock h1_header %}

{% block contenido%}

<!--Si hay error en la carga de los datos del usuario mostrará esto:-->
{%if formulario.errors %}
<p style="color: red"> Hay errores</p>
{%endif%}
<!--El formulario con la carga de usuario.-->
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <table>
        {{formulario}}
    <table>
    <button>Iniciar Sesion</button>
</form>
{% endblock contenido%}
